<html>
  <head>
    <title>
      <%= title %>
    </title>
    <link type="text/css" rel="stylesheet" href="/owed.css"/>
  </head>
  <body>
    <table>
    <thead>
    	<th>
    		Entry Id
    	</th>
    	<th>
    		Amount Owed
    	</th>
    	<th>
    		Date
    	</th>
    	<th>
    		Description
    	</th>
    </thead>
    <tbody>
    	<tr>
    		<td>
    			<%= entry.id %>
    		</td>
    		<td>
    			<%= entry.owed %>
    		</td>
    		<td>
    			<%= entry.date %>
    		</td>
    		<td>
    			<%= entry.description %>
    		</td>
    	</tr>
    </tbody>
  </body>
</html>
