<html>
  <head>
    <title>
      <%= title %>
    </title>
  </head>
  <body>
    <ul>
                <li>
                       Entry Id: <%= entry.id %>
                </li>
		<li>
			Amount Owed: <%= entry.owed %>
		</li>
		<li>
			Date: <%= entry.date %>
		</li> 
		<li>
			Description: <%= entry.description %>
		</li>
	</ul> 
  </body>
</html>
