<html>
  <head>
   	<%- include head.ejs %>
  </head>
  <body>
  	<%- include topnav.ejs %>
  	<h2>
  		ENTRY #<%= entry.id %>
  	</h2>
    <div class="oneentry">
    	<table>
			<tbody>
			<tr>
    			<td>
    				Date:
				</td>
				<td>
    				<%= entry.date %>
				</td>
			</tr>
			<tr>
    			<td>
    				Amount:
				</td>
				<td>
    				$<%= entry.owed %>
				</td>
			</tr>
			<tr>
    			<td>
    				Description:
				</td>
				<td>
    				<%= entry.description %>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
    <%- include footer.ejs %>
  </body>
</html>
