<html>
  <head>
   	<%- include head.ejs %>
  </head>
  <body>
  	<%- include topnav.ejs %>
  	<h2>
  		ENTRIES
  	</h2>
    <div class="entries">
    <table>
    	<thead>
    		<th>
    			Id#
    		</th>
    		<th>
    			Date
    		</th>
    		<th>
	    		Amount
    		</th>
    		<th>
    			Description
    		</th>
    	</thead>
    	<tbody class="entries">
		<% for(var i=entries.length-1; i>=0; i--) {%>
			<tr class="entries">
                <td>
                    <%= entries[i].id %>
                </td>
                <td>
					<%= (new Date(entries[i].date)).toDateString() %>
				</td>
				<td>
					$<%= entries[i].owed %>
				</td>
				<td>
					<%= entries[i].description %>
				</td>
				</tr>
		<% } %>
		</tbody>
	</table>
	</div>
	<%- include footer.ejs %>
  </body>
</html>
