<html>
  <head>
    <title>
      <%= title %>
    </title>
     <link type="text/css" rel="stylesheet" href="/owed.css"/>
  </head>
  <body>
  	<div class="topnav">
  		<p>
  			Owed
  		</p>
  		<ul>
  			<li>
  				Input
  			</li>
  			<li>
  				Single Output
  			</li>
  			<li>
  				Multiple Outputs
  			</li>
  		</ul>
  	</div>
    <table>
    	<thead>
    		<th>
    			Entry Id
    		</th>
    		<th>
    			Amount Owed
    		</th>
    		<th>
    			Date
    		</th>
    		<th>
    			Description
    		</th>
    	</thead>
    	<tbody>
		<% for(var i=0; i< entries.length; i++) {%>
			<tr>
                <td>
                    <%= entries[i].id %>
                </td>
				<td>
					<%= entries[i].owed %>
				</td>
				<td>
					<%= (new Date(entries[i].date)).toDateString() %>
				</td> 
				<td>
					<%= entries[i].description %>
				</td>
				</tr>
		<% } %>
		</tbody>
	</table>
	<footer>
	</footer>
  </body>
</html>
